@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  user-select: none;
  background-color: #e4e4e4;
  color: rgb(39, 39, 39);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.box-sized {
  display: flex;
  justify-content: space-around;
}

.mysized {
  height: 40px;
  line-height: 40px;

  color: #fff;
  background: #393939;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
}

.sized {
  color: #000;
  border: solid 1px #d6d6d6;
  background: #e9e9e9;
}
